name: ubunturdp
on: 
  workflow_dispatch:
   inputs:
     auth:
        description: 'GRDP Authorization Code'
        required: true
        default: 'paste your code here'
  
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Creating User to Login
      run: |
         sudo useradd -m Area69Lab && sudo adduser Area69Lab sudo && echo 'Area69Lab:Area69Lab' | sudo chpasswd
    - name: SSH Keepalive Hack
      run: |
        mkdir -p ~/.ssh
        cat << EOF > ~/.ssh/config
        Host *
            ServerAliveInterval 60
            StrictHostKeyChecking no
        Host github.com
            User git
            Port 22
            Hostname github.com
            TCPKeepAlive yes
            IdentitiesOnly yes
        EOF
     
    - name: Installing Desktop Environment (wait for 10 min)
      run: sudo apt update && sudo apt install expect ubuntu-gnome-desktop gnome -y
    - name: Installing Google Chrome Headless
      run: |
            sudo useradd -m ubuntu
            sudo adduser ubuntu sudo
            echo 'ubuntu:1234' | sudo chpasswd
            sed -i 's/\/bin\/sh/\/bin\/bash/g' /etc/passwd
            sudo apt-get update
            sudo apt-get install xfce4-terminal -y
            wget https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
            sudo dpkg --install chrome-remote-desktop_current_amd64.deb
            sudo apt install --assume-yes --fix-broken
            sudo DEBIAN_FRONTEND=noninteractive \
            apt install --assume-yes gnome desktop-base
            sudo bash -c 'echo "exec /etc/X11/Xsession /usr/bin/gnome-session" > /etc/chrome-remote-desktop-session'  
            sudo apt install --assume-yes xscreensaver
            sudo systemctl disable lightdm.service
            wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
            sudo dpkg --install google-chrome-stable_current_amd64.deb
            sudo apt install --assume-yes --fix-broken
            sudo apt update
            sudo apt install python3-pip -y
            sudo apt-get install -y xvfb 
            pip3 install nbformat
            pip3 install gdown
            pip3 install pika
            sudo apt install nautilus nano -y
            wget -O code.deb https://code.visualstudio.com/sha/download\?build\=stable\&os\=linux-deb-x64
            sudo dpkg --install code.deb
            wget https://raw.githubusercontent.com/creationix/nvm/master/install.sh
            bash install.sh
            source ~/.profile
            sudo adduser ubuntu chrome-remote-desktop
    - name: generate script
      run: |
           touch setup.sh
           echo "${{ github.event.inputs.auth }}" >> "setup.sh"
           chmod 777 setup.sh
    - name: initialize GRDP
      run: |   
           expect -c '
           spawn ./setup.sh
           expect "Enter a PIN of at least six digits: "
           send "123456\r"
           expect "Enter the same PIN again: "
           send "123456\r"
           expect eof
           '
      - name: Start SSH via ngrok
      continue-on-error: true
      timeout-minutes: 99999999999999999999999999999999999999999999999999
      uses: P3TERX/ssh2actions@main
      with:
        mode: ngrok
      env:
        # You can find this token here: https://dashboard.ngrok.com/auth/your-authtoken
        NGROK_TOKEN: ${{ secrets.NGROK_TOKEN }}
        # ngrok server region [us, eu, au, ap, sa, jp, in] (optional, default: us)
        NGROK_REGION: in
        # This password you will use when authorizing via SSH
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
        # Send connection info to Telegram (optional)
        #TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        #TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}

